[run]
branch = True
source =
    pico_caching
omit =
    */_version.py

[paths]
pico_caching =
    src/pico_caching
    .tox/*/lib/*/site-packages/pico_caching
    .tox/*/site-packages/pico_caching
    */site-packages/pico_caching

[report]
show_missing = True
omit =
    */_version.py
